* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Rubik Mono One';
}


.main {
    background: linear-gradient(-45deg, #203064, #4876FF);
    background-repeat: no-repeat;
    margin-left: 40px;
    margin-right: 40px;
}

@media screen and (max-width: 992px) {
    .main {
        margin-left: 20px;
        margin-right: 20px;

    }
}


.container {
    width: 100%;
    height: auto;
}

.profile_container {
    display: flex;
}

.profile_info {
    width: 195px;
    height: 43px;
    background-color: #0F0F0F;
    border-radius: 10px;
}

/* .profile_nick{
    width: 195px;
    height: 43px;
    background-color: #0F0F0F;
    border-radius: 15px;
} */

.Hero {
    margin-top: 70px;
}

.hero_content {
    width: auto;
    height: auto;
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */
}

@media screen and (max-width: 992px) {
    .hero_content {
        flex-direction: column;

    }


}


.hero_banner {
    width: 70%;
    height: 440px;
    background: linear-gradient(90deg, #1A2444, #D43F8D);
    border-radius: 30px;

}

@media screen and (max-width: 992px) {
    .hero_banner {
        width: 100%;
        height: 220px;

    }
}

.hero_options {
    width: 30%;
    height: 440px;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 992px) {
    .hero_options {
        width: 100%;

    }
}

.subscription {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #43E97B, #38F9D7);
    border-radius: 30px;
}

.workhard {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 2px solid white;
}

.hero_chapters {
    width: 100%;
    height: auto;
    /* background-color: beige; */
    border-radius: 30px;
    display: flex;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    .hero_chapters {
        justify-content: center;

    }
}

.hero_chapter {
    width: 452px;
    height: 192px;
    border-radius: 30px;
}

@media screen and (max-width: 992px) {
    .hero_chapter {
        width: 100%;

    }
}




.game_chapter {
    background: linear-gradient(45deg, #6A11CB, #2575FC);
}

.shop_coin {
    background-color: #CD3F8E;

}

.shop_prize {
    background-color: whitesmoke;

}

.hero_socials {
    width: auto;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;

}

.socials_telegram {
    width: 292px;
    height: 50%;
    background-color: #159FFA;
    border-radius: 30px;
}

.socials_wallet {
    width: 292px;
    height: 50%;
    background-color: snow;
    border-radius: 30px;
}

.chapter_container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chapter_button {
    width: 338px;
    height: 59px;
    background-color: #E0FE83;
    border-radius: 100px;
}

.games {
    margin-top: 70px;
}

.games_container {
    width: auto;
    height: auto;
}

.game_cards {
    width: auto;
    height: auto;
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 992px) {
    .game_cards {
        /* flex-direction: column;
        align-items: center; */
        gap: 10px;

    }
}


.game_card {
    width: 320px;
    height: 380px;
    background-color: #0F0F0F;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

@media screen and (max-width: 992px) {
    .game_card {
        width: 50%;
        height: 238px;
        border-radius: 15px;


    }
}




.game_name {
    font-size: 40px;
    background: linear-gradient(45deg, #434343, #000000);
    -webkit-background-clip: text;
    /* Для Safari и браузеров на основе Webkit */
    color: transparent;
    
}

.game_options {
    cursor: pointer;
}

.image_play {}

@media screen and (max-width: 992px) {
    .image_play {
        width: 26px;
        height: 30px;
    }
}


nav {
    background-color: #203064;
    overflow: hidden;
    border-radius: 10px;
}

nav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.icon {
    display: none;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    nav {
        display: none;
        margin-bottom: 20px;
    }

    nav a {
        float: none;
        width: 100%;
        text-align: left;
    }

    .icon {
        display: block;
        margin: 20px 0px;
    }
}

@media screen and (min-width: 601px) {
    nav {
        display: block;
        margin-bottom: 20px;
    }


}