* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Rubik Mono One';
    font-family: 'Exo 2';
    box-sizing: border-box;
}


.main {
    background: linear-gradient(-45deg, #203064, #4876FF);
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 992px) {
    .main {
        margin-left: 20px;
        margin-right: 20px;

    }
}

.logo {
    font-family: 'Rubik Glitch';
    font-size: 20px;
}


.container {
    width: 100%;
    height: auto;
}

.profile_container {
    display: flex;
    gap: 5px;
    margin-top: 54px;
}

.profile_info {
    width: 195px;
    height: 43px;
    background-color: #0F0F0F;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.profile_icon {
    margin-left: 20px;
}



/* .profile_nick{
    width: 195px;
    height: 43px;
    background-color: #0F0F0F;
    border-radius: 15px;
} */

.Hero {
    margin-top: 70px;
}

.hero_content {
    width: auto;
    height: auto;
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */
}

@media screen and (max-width: 992px) {
    .hero_content {
        flex-direction: column;

    }


}


.hero_banner {
    width: 70%;
    height: 440px;
    background: linear-gradient(90deg, #1A2444, #D43F8D);
    border-radius: 30px;
    padding: 20px;
    position: relative;

}

.hero_text {
    font-size: 60px;
    color: white;
    margin-top: 100px;
}

@media screen and (max-width: 992px) {
    .hero_text {
        margin-top: 0px;
        font-size: 25px;

    }
}

.hero_button{
    position: absolute;
    font-size: xx-large;
    right: 20px;
    bottom: 20px;
}

@media screen and (max-width: 992px) {
    .hero_banner {
        width: 100%;
        height: 220px;

    }
}

.hero_options {
    width: 30%;
    height: 440px;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 992px) {
    .hero_options {
        width: 100%;

    }
}

.subscription {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #43E97B, #38F9D7);
    border-radius: 30px;
}

.workhard {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 2px solid white;
}

.hero_chapters {
    width: 100%;
    height: auto;
    /* background-color: beige; */
    border-radius: 30px;
    display: flex;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    .hero_chapters {
        justify-content: center;

    }
}

.hero_chapter {
    width: 452px;
    height: 192px;
    border-radius: 30px;
}

@media screen and (max-width: 992px) {
    .hero_chapter {
        width: 100%;

    }
}




.game_chapter {
    background: linear-gradient(45deg, #6A11CB, #2575FC);
}

.shop_coin {
    background-color: #CD3F8E;

}

.shop_prize {
    background-color: whitesmoke;

}

.hero_socials {
    width: auto;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;

}

.socials_telegram {
    width: 292px;
    height: 50%;
    background-color: #159FFA;
    border-radius: 30px;
}

.socials_wallet {
    width: 292px;
    height: 50%;
    background-color: snow;
    border-radius: 30px;
}

.chapter_container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chapter_button {
    width: 338px;
    height: 59px;
    background-color: #E0FE83;
    border-radius: 100px;
}

.games {
    margin-top: 70px;
}

.games_container {
    width: auto;
    height: auto;
}

.game_cards {
    width: auto;
    height: auto;
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 992px) {
    .game_cards {
        /* flex-direction: column;
        align-items: center; */
        gap: 10px;

    }
}


.game_card {
    width: 320px;
    height: 380px;
    background-color: #0F0F0F;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

@media screen and (max-width: 992px) {
    .game_card {
        width: 50%;
        height: 238px;
        border-radius: 15px;


    }
}




.game_name {
    font-size: 40px;
    background: linear-gradient(45deg, #434343, #000000);
    -webkit-background-clip: text;
    /* Для Safari и браузеров на основе Webkit */
    color: transparent;

}

.game_options {
    cursor: pointer;
}

.image_play {}

@media screen and (max-width: 992px) {
    .image_play {
        width: 26px;
        height: 30px;
    }
}


.navbar {
    background-color: #203064;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 20px;
    right: 20px;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }


.toggle-button {
    background-color: #203064;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 15px;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: lowercase;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 600px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #203064;
        border-radius: 15px;
        transition: background-color 0.3s ease;
        filter: opacity(90%); /* Добавим фильтр прозрачности */
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin-right: 0;
        text-align: center;
        padding: 10px;
        /* border-bottom: 1px solid #555; */
    }


}

.icon {
    background-color: transparent;
    color: white;
    margin-right: 10px;
}

.logo {
    color: white;
    margin-left: 10px;
}

@media (min-width: 601px) {
    .icon {
        display: none;
    }


}

.category {
    margin-top: 120px;
}

.category_text {
    color: white;
    font-size: 20px;
}

@media (max-width: 600px) {
    .category_text {
        display: flex;
        justify-content: center;
        border: 2px solid white;
        border-radius: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }


}